.table-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  table {
    margin: 5% 0 5% 0 !important;
  }
}

table {
  margin: 3% 5% 3% 5%;
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: var(--normal-font);
}

thead {
  background-color: var(--green);
  color: #fff;
  font-family: var(--sub-header-font);
}

td,
th {
  border: 1px solid black;
  padding: calc(10px + 0.3vw) calc(5px + 1vw);
}
th {
  text-align: center;
  font-family: var(--sub-header-font);
}

td {
  font-weight: 400;
}

caption {
  padding: 3%;
  padding-top: 0;
  font-size: var(--header-size);
  font-family: var(--header-font);
  color: black;
}

.day {
  text-align: center;
}
.table-titles {
  background-color: black;
  color: #fff;
  font-family: var(--header-font);
  text-align: center;
  padding-top: calc(5px + 0.2vw);
  padding-bottom: calc(5px + 0.2vw);
}
