.login-background {
  background-image: url("/home/marv/react-projects/workout-app/src/LoginScreen/Images/dumbbell-rack.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
  height: 100vh;
  position: relative;
}
