@font-face {
  src: url("/home/marv/react-projects/workout-app/src/Fonts/Inter/Inter-ExtraBold.ttf");
  font-family: "Inter";
}

@font-face {
  src: url("/home/marv/react-projects/workout-app/src/Fonts/Inter/Inter-Medium.ttf");
  font-family: "Inter-medium";
}

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

:root {
  --header-font: "Inter";
  --sub-header-font: "Inter-medium";
  --sub-header-size: calc(10px + 0.75vw);
  --header-size: calc(10px + 1.2vw);
  --normal-font: calc(10px + 0.5vw);
  --yellow: #ffd700;
  --green: #004225;
}
