@font-face {
  src: url("/home/marv/react-projects/workout-app/src/Fonts/Inter/Inter-ExtraBold.ttf");
  font-family: "Inter";
}

body {
  margin: 0;
  font-family: "Inter", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

:root {
  --header-font: "Inter";
  --header-size: calc(18px + 0.8vw);
  --normal-font: calc(8px + 0.5vw);
}
